
<div id="mainmargin">
  <h1>Editing User Details</h1>
     <%= render 'form' %>
<% if current_user and current_user.admin %>
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
<% else %>
    <%= link_to 'Back', :controller => "users", :action => "welcome", :notice => "Edited successfully" %>
<% end %>
</div>