// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#orders {
  width: 700px;
  height: 20px;
  border: 4px solid #1e7c9a;
  float: left;
}