<div id="main">
  <h1 class = "margin40">Thank you for shopping with 3DorNot3D </h1>
  <h3 class = "margin40">Your order was successfully created </br >and will be shipped today. </h3>
  <p id ="notice"><%= notice %></p>
    <%= link_to "Back to Store", :controller => "store",  :action => "index" %>
</div>